article {
    position: relative;
}

s {
    display: block;
    color: rgba(128, 128, 128, .7);
}

.best__wrapper {
    padding: 0 30px;
}

.best__title {
    margin-bottom: 30px;
    text-align: center;
}

.best__image {
    width: 280px;
    height: 350px;
    background-color: lightgrey;
    margin-bottom: 10px;
}

.best__title-goods {
    margin-bottom: 10px;
}

.best__text {
    margin-bottom: 10px;
    max-width: 350px;
}

.best__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 50px;
}

.best__item:nth-child(n + 5) {
    display: none;
}

.best__item.active {
    display: list-item;
}

.best__btn {
    display: none;
    position: absolute;
    top: 58%;
    left: 28%;
    border-radius: 7px;
    padding: 8px 20px;
    background-color: #fff;
}

.best__control {
    display: flex;
    align-items: self-start;
    gap: 10px;
}

.edit__btn {
    margin-left: auto;
}

.remove__btn {
    width: 32px;
}

article:hover .best__btn {
    display: block;
}

.best__btn-wrapper {
    display: flex;
    justify-content: space-between;
}

.best__btn-add {
    padding: 8px 20px;
    color: #fff;
    background-color: #000;
}

.best__btn-pagination {
    padding: 8px 20px;
    color: #fff;
    background-color: #000;
}

.close__btn {
    font-size: 35px;
    position: absolute;
    top: 0;
    right: 10px;
    color: black;
}

